.main-container{
    box-sizing: border-box;
    display: flex;
    padding: 2.5rem;
}
.players{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-right: 20px;
    margin-top: 30px;
}
.team{
    box-sizing: border-box;
    width: 20%;
    min-height: 85vh;
    margin-top: 40px;
    background-color: black;
    color: lightgray;
    position: fixed;
    right: 0;
    padding: 1.5rem;
    border-radius: 10px 0 0 10px;
}
.team h2{
    font-size: 20px;
    color: goldenrod;
    margin-bottom: 10px;
}
.total-salary{
    color: goldenrod;
    font-weight: 600;
}